@model IEnumerable<Assesment2_Q2.Models.Movie>


<!DOCTYPE html>
<html>
<head>
    <title>Movie Index</title>
</head>
<body>
    <h2>Movie Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table border="1">
        <tr>
            <th>Movie ID</th> 
            <th>Movie Name</th>
            <th>Date of Release</th>
            <th>Actions</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Mid</td> 
                <td>@movie.Moviename</td>
                <td>@movie.DateofRelease.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = movie.Mid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = movie.Mid })
                </td>
            </tr>
        }
    </table>
</body>
</html>