@model List<Assesment_2.Models.Customer>
@{
    ViewBag.Title = "CustomerInGermany";
}

<h2>CustomerInGermany</h2>

<!DOCTYPE html>
<html>
<head>
    <title> ---Customers Living In Germany--- </title>
</head>
<body>
    <h2 style="color:forestgreen">German Customers</h2>
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Contact Title</th>
            <th>Country</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerID</td>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>
                <td>@item.ContactTitle</td>
                <td>@item.Country</td>
            </tr>
        }
    </table>
</body>
</html>